<!DOCTYPE html>
<html>
    <head>
        <title>Connection</title>
    </head>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
<body>
    <div class="ui fixed inverted menu">
        <a href="/" class="header item">Accueil</a>
    </div>